[submodule "frameworks/facebook-android-sdk"]
	path = frameworks/facebook-android-sdk
	url = git://github.com/facebook/facebook-android-sdk.git
[submodule "submodules/facebook-android-sdk"]
	path = submodules/facebook-android-sdk
	url = git://github.com/facebook/facebook-android-sdk.git
