[submodule "submodules/facebook-android-sdk"]
	path = submodules/facebook-android-sdk
	url = git://github.com/photo/facebook-android-sdk.git
[submodule "submodules/HoloEverywhere"]
	path = submodules/HoloEverywhere
	url = git://github.com/Prototik/HoloEverywhere.git
[submodule "submodules/PhotoView"]
	path = submodules/PhotoView
	url = https://github.com/chrisbanes/PhotoView.git
[submodule "submodules/StickyGridHeaders"]
	path = submodules/StickyGridHeaders
	url = https://github.com/httpdispatch/StickyGridHeaders.git
