<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.openphoto.android.app"
    android:versionCode="1"
    android:versionName="0.1"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.OpenPhoto.Light" >
        <activity android:name=".SplashActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".PhotoDetailsActivity" />
        <activity
            android:name=".TagsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".UploadActivity"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".OAuthActivity" />

        <!-- AutoUpload things -->
        <!-- Stuff for auto uploading photos -->
        <receiver android:name=".receiver.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".service.UploaderService" />

        <provider
            android:name=".provider.UploadsProvider"
            android:authorities="me.openphoto.android.app" />
    </application>

</manifest>