<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.openphoto.android.app"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="20121220" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
	<supports-screens 
	    android:anyDensity="true" 
	    android:smallScreens="true" 
	    android:normalScreens="true" 
	    android:largeScreens="true" 
		android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".OpenPhotoApplication"
        android:theme="@style/Theme.OpenPhoto.Light" >
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".SetupActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.OpenPhoto.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openphoto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:logo="@drawable/actionbar_logo" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openphoto-t" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoDetailsActivity"
            android:theme="@style/Theme.OpenPhoto.TransparentActionBar" 
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openphoto-t2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />

        <activity
            android:name=".AccountLogin"
            android:theme="@style/Theme.OpenPhoto.Light.NoActionBar"
            />
        <activity
            android:name=".AccountSignup"
            android:theme="@style/Theme.OpenPhoto.Light.NoActionBar"
             />
        <activity
            android:name=".AccountActivity"
            android:theme="@style/Theme.OpenPhoto.Light.NoActionBar"
             />
                
        <activity
            android:name=".SelectTagsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_tags" >
        </activity>

		<activity
		    android:name="com.aviary.android.feather.FeatherActivity"
		    android:configChanges="orientation|keyboardHidden"
		    android:screenOrientation="unspecified"
		    android:hardwareAccelerated="true"
		    android:largeHeap="true"
		    android:theme="@style/FeatherDefaultTheme" />

		<receiver
		    android:name="com.aviary.android.feather.receivers.FeatherSystemReceiver"
		    android:exported="true"
		    android:process=":feather_system_receiver" >
		        <intent-filter>
		            <action android:name="android.intent.action.PACKAGE_ADDED" />
		            <action android:name="android.intent.action.PACKAGE_REMOVED" />
		            <action android:name="android.intent.action.PACKAGE_REPLACED" />
		            <data android:scheme="package" />
		        </intent-filter>
		</receiver>
		
        <!-- AutoUpload things -->
        <!-- Stuff for auto uploading photos -->
        <receiver android:name=".receiver.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".service.UploaderService" />

        <provider
            android:name=".provider.UploadsProvider"
            android:authorities="me.openphoto.android.app" />
            <!-- Required for the hi-res image processing -->
	    <!-- authorities can have the value you prefer -->
	    <provider 
	        android:name="com.aviary.android.feather.library.providers.FeatherContentProvider"
	        android:exported="false"
	        android:authorities="me.openphoto.aviary.launcher.HiResProvider">
	    </provider>
    </application>

</manifest>
