<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.openphoto.android.app"
  android:versionCode="1"
  android:versionName="0.1"
>
  <uses-sdk android:minSdkVersion="7" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@style/Theme.OpenPhoto.Light"
  >
    <activity
      android:name=".CameraActivity"
      android:screenOrientation="landscape"
    />
    <activity android:name=".GalleryActivity"></activity>
    <activity android:name=".MainActivity"></activity>
    <activity android:name=".PhotoDetailsActivity"></activity>
    <activity android:name=".PhotoTakenActivity"></activity>
    <activity android:name=".SearchActivity"></activity>
    <activity android:name=".SettingsActivity"></activity>
    <activity
      android:name=".SplashActivity"
      android:label="@string/app_name"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ViewPhotoActivity"></activity>
    
    <!-- AutoUpload things -->
    <!-- Stuff for auto uploading pictures to Flickr -->
    <receiver android:name=".receiver.NewPhotoReceiver">
      <intent-filter>
        <action android:name="com.android.camera.NEW_PICTURE" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>

    <service  android:name=".service.UploaderService" />

    <provider
      android:name=".provider.UploadsProvider"
      android:authorities="me.openphoto.android.app" />
  </application>
</manifest>